{
	"trailingComma": "none",
	"printWidth": 90,
	"overrides": [
		{
			"files": "**/lwc/**/*.html",
			"options": {
				"parser": "lwc",
				"tabWidth": 4,
				"useTabs": true,
				"singleAttributePerLine": true,
				"bracketSameLine": true
			}
		},
		{
			"files": "*.{cmp,page,component}",
			"options": {
				"parser": "html",
				"tabWidth": 4,
				"useTabs": true,
				"singleAttributePerLine": true,
				"bracketSameLine": true
			}
		},
		{
			"files": "*.{cls,trigger}",
			"options": {
				"parser": "apex",
				"tabWidth": 4,
				"useTabs": true,
				"apexInsertFinalNewline": false
			}
		},
		{
			"files": "**/force-app/**/*.js",
			"options": {
				"parser": "meriyah",
				"tabWidth": 4,
				"useTabs": true,
				"singleQuote": true
			}
		}
	]
}